*{
    font-family: serif;
}

.navbar-brand{
    background-color: teal;
    width: max-content;
    /* flex-basis: auto; */
}

.placeholder{
    padding: 20px; 
    max-width: 390px;
    max-height: 390px;
}
    
.btn{
    background-color: teal;    
}

.h1{
color: teal;
}

.container{    
    margin: 20px;
}

.card{
    background-color: rgb(30, 39, 39);
    border-top: 5px solid teal;
}
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    /* width: 100%; */
    padding: 0;
    /* text-align: center; */
  }