

*{
    font-family: serif;
    font-size: calc(1em + .03vw + .03vh);
}

body {
    background-image: url("./Assets/Images/teal.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
   }

.btn{
    background-color: teal;    
}

.card-class{
    background-color: rgb(30, 39, 39);
    border-top: 5px solid teal;
}

.container{    
    margin: 20px;
}

.footer {    
    left: 0;
    bottom: 0;    
    padding: 0;    
}

.h1{
    color: teal;
    font-weight: bold;
}

.page-title {
    color: black;
    font-weight: bold;
}


.img {
    max-width: 50%;
    max-height: 50%;
    display: block;
}

.navbar-brand{
    background-color: teal;
    width: max-content;
}

.placeholder{
    padding: 20px; 
    max-width: 390px;
    max-height: 390px;
}

.social-links {
    display: inline-block;  
    font-size: 2.5rem;
    padding:10px; 
}

.social-icons {
    align-content: center;
    padding-left: 0em;
    margin: 0em;
}

#html-img {
    width: 90px;
    height: 90px;
    
}

#img-text {
    width: 90px; 
    
}


/* Flip Card CSS  3dtransforms.desandro.com/card-flip*/

.scene {
    width: 200px;
    height: 520px;
    perspective: 500px;
    padding: 20px;
    display: inline-block;
  }

  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    display: block;
  }
  
  .card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }

  .card__face--front {
    /* background: red; */
    height: auto;
  }
  
  .card__face--back {
    background: white;
    transform: rotateY( 180deg );
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }

  .card-border{
      border-color: darkslategrey;
      border-width: 5px;
  }
   
  /* responsive text sizing */
 