.navbar-brand{
    color: white;
    background-color: teal;
    width: 170px;
}

.placeholder{
    padding: 20px;
    border: 5px solid red
    /* box-sizing: padding-box; */
}
    
.h1{
color: teal;
}

.container{
    justify-content: center;
}

.card{
    background-color: darkgrey;
    border: 5px  teal;
    border-style: solid hidden hidden hidden;
    width: auto;
    padding: 0;
}